/* layout */
.mizu-header,
.mizu-footer {
    background-color: #646065;
    color: white;
    height: 50px;
}


.mizu-content {
    color: #766561;
    background-color: #CBCBCB;
}

.mizu-nav {
    order: -1;
    color: #EDE8E1;
    background-color: #D2C4BE;
}

.mizu-ads {
    color: #EDE8E1;
    background-color: #D2C4BE;
}

@media (min-width: 768px) {
    .u-box.u-box--column-query {
        .flex--row();
    }
    .sidebar.sidebar--query {
        /* 12em is the width of the columns */
        .flex-flex(0 0 150px)
    }
}
/* END layout */