<!DOCTYPE html>  
<html>  
  <head>
    <title>{{title}}</title>
{{>header}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
{{>script}}
  </body>
</html> 